@mixin d-flex ($justify-type, $align-type) {
    display: flex;

    @if $justify-type =="center" {
        justify-content: center;
    }

    @else if $justify-type =="evenly" {
        justify-content: space-evenly;
    }

    @if $align-type =="center" {
        align-items: center;
    }

    @else if $align-type =="flex-start" {
        align-items: flex-start;
    }

    @else if $align-type =="flex-end" {
        align-items: flex-end;
    }
}